body {
    font-family: monospace, sans-serif;
    color: limegreen;
    background-color: rgb(27, 27, 27);
    margin: 0 5%;
}


.accordion, .accordion-header, .accordion-item, .accordion-body, .accordion-button, .accordion-collapse {
  color: whitesmoke;
  background-color: rgb(12, 12, 12);
}

.container {
    margin: 50px 0px;
}

.col-12 {
    margin: 10px 0px;
    border: 2px;
    border-color: black;
    border-style: double;
}

/* button {
    color: white;
    font-size: 20px;
    font-family: monospace;
    padding: 5px 15px 5px 15px;
    max-width: fit-content;
    margin-top: 10px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    -webkit-animation: blink 0.8s infinite;
}

@-webkit-keyframes blink {
    0% {background: black}
    50% {background: lime}
    100% {background: black}
} */