body {
    font-family: monospace, sans-serif;
    color: limegreen;
    background-color: rgb(27, 27, 27);
    margin: 0 10%;
}

.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}  

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active, .collapsible:hover {
    background-color: black;
 }

.active:after {
    content: "\2796";
}
 
.content {
    padding: 0 18px;
    background-color: rgb(21, 21, 21);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button {
    color: white;
    font-size: 20px;
    font-family: monospace;
    padding: 5px 15px 5px 15px;
    max-width: fit-content;
    margin-top: 10px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    -webkit-animation: blink 0.8s infinite;
}

@-webkit-keyframes blink {
    0% {background: black}
    50% {background: lime}
    100% {background: black}
}